@font-face {
    font-family: "Langdon";
    src: url('../fonts/Langdon.otf');
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro.otf');
}

a, p, h1, h2, h3, h4, h5, h6 {
    color: #888;
    font-family: 'Source Sans Pro'
}

.spacing {
    margin: 20px 0px;
}

.heading {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.front-page {
    text-align: center;
}

.img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font-family: "Langdon";
    text-transform: lowercase;
}

.navbar-inverse {
    background-color: #67c69b;
    border-color: transparent;
}

h1.logo, h4.sub-logo {
    color: #67c69b;
    text-align: center;
}

.jumbotron {
        background-color: white;
        margin-bottom: -20px;
}

h4.sub-logo {
    font-family: "Langdon";
    text-transform: uppercase;
    margin-top: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus, .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #67c69b;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}

@media (max-width: 768px) {
	.top-20 {
		padding-top: 20px;
	}
	h1.logo {
		font-size: 80px;
	}
	h4.sub-logo, h4.spacing {
		font-size: 27px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.top-10 {
		padding-top: 10px;
	}
	h1.logo {
		font-size: 110px;
		margin-top: 34px;
	}
	h4.sub-logo {
		font-size: 37px;
	}
	h4.spacing {
		font-size: 27px;
	}
}

@media (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
	h1.logo {
		font-size: 150px;
		margin-top: 34px;
	}
	h4.sub-logo {
		font-size: 50px;
	}
	h4.spacing {
		font-size: 35px;
	}
}

@media (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {
	h1.logo {
		font-size: 180px;
		margin-top: 50px;
	}
	h4.sub-logo {
		font-size: 60px;
	}
	h4.spacing {
		font-size: 40px;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 1450px;
	}
	h1.logo {
		font-size: 220px;
		margin-top: 70px;
	}
	h4.sub-logo {
		font-size: 73px;
	}
	h4.spacing {
		font-size: 50px;
	}
}
